@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0px;
  background-color: #115abb;
  background-image: url("../Mountion.webp");
  background-size: 1444px;
  font-family: 'Roboto Slab', serif;
  color: white;
}

@media (min-width: 1920px) {
  body {
    background-size: 1920px;
    background-repeat: no-repeat;
  }

  .current-weather-icon {
    width: 150px;
  }
}

.rama {
  margin: 0px 400px 0px 400px;
  height: 100%;
}

/********************************************************************
//////////////////    WeatherForecast //////////////////////////////
******************************************************************/

.swipe-symbol {
  position: absolute;
  bottom: 0;
}

.forecast-wrapper {
  /* display: flex;
  flex-direction: row; */
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.forecast-slider {
  display: flex;
  height: 74%;
  margin: auto;
  transition: all .6s ease-in;
  cursor: pointer;
}

.slider-card {
  display: flex;
  flex-direction: row;
}

.slider-btns {
  position: absolute;
  z-index: 999;
  width: 1120px;

    .slider-button-right {
      position: absolute;
      right: 0px;
      top: 40%;
      z-index: 999;
    }
    
    .slider-button-left {
      position: absolute;
      z-index: 999;
    }
}




.forecast-slide {
  position: relative;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  width: 190px;
  margin: 0px 5px 0px 5px;
}

.card-title {
  display: flex;
  flex-direction: row;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  height: auto;
}

.card-bottom-temp {
  display: flex;
  flex-direction: column;
}

.card-bottom-temp p {
  margin: 0px;
}

.click {
  width: 200%;
}

/********************************************************************
//////////////////////////  WeatherToday  //////////////////////////
******************************************************************/

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
  width: 55%;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;

}

@media (min-width: 1920px) {
  .current-weather {
    width: 55%;
  }
}

.top-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.top-infoCurrentWeather {

}

.top-infoLastUpd {
  margin-left: 1rem;
}

.temp {
  display: flex;
  flex-direction: row;
}

.temp-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .temp-right p {
    margin: 0px;    
  }

.temp-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp-center p {
  margin: 0;
}

  .temp-center-temp {
    font-size: 40px;
  }

  .temp-center-condition {
    font-size: 25px;
  }

.temp-left {
  margin-left: .7rem;
}

.bottom-additional-info {
  display: flex;
  flex-direction: row;
}

.bottom-additional-info > p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.current-weather-icon {
  height: auto;
}